<!DOCTYPE html>
<html>
  <head>
    <title>RtExample</title>
    <%= action_cable_meta_tag %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://rawgit.com/angular-actioncable/angular-actioncable/1.1.1/dist/angular-actioncable.js"></script>
  </head>

  <body ng-app="real-time">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">RealTimeRails5</a>
        </div>
        <ul class="nav navbar-nav">
          <% if current_user.nil?%>
            <li><%= link_to 'login', new_user_session_path%></li>
            <li><%= link_to 'register', new_user_registration_path%></li>
          <%else%>
            <li> welcome <%= current_user.username%></li>
          <%end%>
        </ul>
        <div class="pull-right">
          <div ng-controller="StatusController">
            <h4>
              <span ng-show="status.connected">✓ Connected</span>
              <span ng-show="status.disconnected">✘ Disconnected</span>
              <span ng-show="status.connecting">✘ Connecting......</span>
            </h4>
          </div>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
